@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ec960c;
  --secondary-color: #f8c87c; 
  --tertiary-color: #f5b041;  
}

[data-theme='dark'] {
  --primary-color: #0b5345;
  --secondary-color: #0d6453; 
  --tertiary-color: #094237;  
}

body {
}

@layer components {
  .checkbox {
    @apply relative float-left h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-gray-500 border-[0.125rem] border-solid outline-none;

    &:checked {
      @apply border-tertiary bg-tertiary;

      &:before {
        @apply opacity-[0.16];
      }
      
      &:after {
        @apply absolute -mt-px ms-[0.25rem] block h-[0.8125rem] w-[0.375rem] rotate-45 border-[0.125rem] border-l-0 border-t-0 border-solid border-white bg-transparent content-[''];
      }
    }

    &:checked:focus {
      &:before {
        @apply scale-100 transition-[box-shadow_0.2s,transform_0.2s];
      }

      &:after {
        @apply -mt-px ms-[0.25rem] h-[0.8125rem] w-[0.375rem] rotate-45 rounded-none border-[0.125rem] border-l-0 border-t-0 border-solid border-white bg-transparent;
      }
    }

    &:hover {
      @apply cursor-pointer;

      &:before {
        @apply opacity-[0.04] shadow-black/60;
      }
    }

    &:focus {
      @apply shadow-none transition-[border-color_0.2s];

      &:before {
        @apply scale-100 opacity-[0.12] shadow-black/60 transition-[box-shadow_0.2s,transform_0.2s];
      }

      &:after {
        @apply absolute z-[1] block h-[0.875rem] w-[0.875rem] rounded-[0.125rem] content-[''];
      }
    }

    &:before {
      @apply pointer-events-none absolute h-[0.875rem] w-[0.875rem] scale-0 rounded-full bg-transparent opacity-0 shadow-transparent content-[''];
    }

    [dir=“rtl”] & {
      @apply float-right;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tiny-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .tiny-scrollbar::-webkit-scrollbar-thumb {
	  outline-width: 2px;
    outline-style: solid;
	  outline-offset: -2px;
	  border-width: .1px;
    border-style: solid;
  }

  [data-theme='light'] {
    .tiny-scrollbar::-webkit-scrollbar-track {
      background-color: #FFF;
    }

    .tiny-scrollbar::-webkit-scrollbar-thumb {
      background-color: #CBCBCB;
      outline-color: #FFF;
      border-color: #B7B7B7;

      &:hover {
        background-color: #909090;
      }
    }
  }

  [data-theme='dark'] {
    .tiny-scrollbar::-webkit-scrollbar-track {
      background-color: #777;
    }

    .tiny-scrollbar::-webkit-scrollbar-thumb {
      background-color: #545454;
      outline-color: #777;
      border-color: #404040;
      &:hover {
        background-color: #101010;
      }
    }    
  }
}
