@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 245, 176, 65;
  --secondary-color: 249, 231, 159;
}

.dark {
  --primary-color: 11, 83, 69;
  --secondary-color: 20, 143, 119;
}

@layer base {
  body {
    @apply w-full h-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.map-container {
  height: 100%;
  width: 100%;
}
